@font-face {
  font-family: "omyu";
  src: url("./omyu.ttf") format("truetype");
  font-weight: 400;
}

.logo,
.headline1,
.headline2,
.body1,
.body2,
.luckyBall1,
.luckyBall2,
body {
  font-family: "omyu", sans-serif;
}

.logo {
  font-size: 20px;
  line-height: 26px;
}

.headline1 {
  font-size: 20px;
  line-height: 26px;
}

.headline2 {
  font-size: 15px;
  line-height: 20px;
}

.body1 {
  font-size: 15px;
  line-height: 20px;
}

.body2 {
  font-size: 12px;
  line-height: 16px;
}

.luckyBall1 {
  font-size: 30px;
  line-height: 35px;
}

.luckyBall2 {
  font-size: 25px;
  line-height: 30px;
}
